@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300;1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-family: 'poppins';
  scroll-behavior: smooth; }

body {
  height: 100vh; }

.header {
  width: 100%;
  height: 5vw;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.532651) 31%, rgba(0, 0, 0, 0.78195) 100%); }
  .header nav {
    width: 100%; }
  .header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
    .header nav ul li a {
      color: rgba(255, 255, 255, 0.795);
      text-decoration: none;
      font-size: 1.45vw;
      transition: all 0.3s; }
      .header nav ul li a:hover {
        color: #6d78da;
        filter: saturate(110%); }

.bg__s1__idx {
  background-image: url("../assets/bg_primario/web_first_images_release_0 (1).png");
  height: 100vh;
  width: 100%;
  object-fit: fill;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  animation-name: saturateFilter;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  filter: saturate(110%); }

@keyframes saturateFilter {
  from {
    filter: saturate(10%); }
  to {
    filter: saturate(110%); } }
  .bg__s1__idx .container__principal__idx {
    background: #fef2bb;
    background: radial-gradient(circle, rgba(254, 242, 187, 0) 39%, rgba(0, 0, 0, 0.856) 96%);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex; }
    .bg__s1__idx .container__principal__idx .title__principal__idx {
      align-self: center;
      color: white;
      font-size: 7vw;
      margin-left: 2.5vw; }

.telescopes__idx {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .telescopes__idx .containerTitleSection {
    position: absolute;
    left: 72%;
    bottom: -3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6; }
    .telescopes__idx .containerTitleSection .containTitleSVG {
      position: absolute;
      z-index: 10;
      width: 25vw; }
    .telescopes__idx .containerTitleSection h2 {
      margin-left: 4vw;
      color: white;
      z-index: 10;
      font-size: 2.3vw; }
  .telescopes__idx a {
    text-decoration: none; }
  .telescopes__idx .container__ancla__telescope__s2__idx, .telescopes__idx .container__ancla__telescope__s2__idx-2, .telescopes__idx .container__ancla__telescope__s2__idx-3 {
    background-image: url("../assets/s2/james_web/james-webb-2745581.png");
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s; }
    .telescopes__idx .container__ancla__telescope__s2__idx:hover, .telescopes__idx .container__ancla__telescope__s2__idx-2:hover, .telescopes__idx .container__ancla__telescope__s2__idx-3:hover {
      filter: grayscale(0%); }
    .telescopes__idx .container__ancla__telescope__s2__idx .title__telescopes__idx, .telescopes__idx .container__ancla__telescope__s2__idx-2 .title__telescopes__idx, .telescopes__idx .container__ancla__telescope__s2__idx-3 .title__telescopes__idx {
      justify-self: end;
      background-image: linear-gradient(128deg, #fef2bb 0%, #bfbfe4 72%);
      filter: grayscale(0%);
      margin-left: 2vw;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 6vw; }
  .telescopes__idx .container__ancla__telescope__s2__idx-2 {
    background-image: url("../assets/s2/hubble/hubble.webp");
    background-position: center;
    background-size: cover; }
  .telescopes__idx .container__ancla__telescope__s2__idx-3 {
    background-image: url("../assets/s2/terrestre/telescopio-terrestre.png"); }

.sectionGalery {
  display: flex;
  align-items: center;
  filter: grayscale(90%);
  transition: all 0.6s; }
  .sectionGalery:hover {
    filter: grayscale(0%); }
  .sectionGalery .titleGalery {
    justify-self: flex-start;
    position: absolute;
    color: white;
    font-size: 7vw;
    margin-left: 1vw;
    transition: all 0.6s; }
  .sectionGalery:hover .titleGalery {
    font-size: 3.4vw;
    transform: translate(0vw, 8vw); }
  .sectionGalery .containerGalery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: hidden; }
    .sectionGalery .containerGalery img {
      width: 25vw;
      height: 100vh;
      object-fit: cover;
      transition: all 0.3s;
      cursor: pointer; }
      .sectionGalery .containerGalery img:hover {
        width: 40vw; }
